body { background: url(/sites/all/themes/IAEA/img/bgr-body.png) top center repeat-y }

// Hero
// --------------------------
.hero { background: url(/sites/all/themes/IAEA/img/bgr-hero.png) top center repeat-y; padding: 50px 0; }
.hero h1 { font-size: 48px; font-weight: 200; margin-top: 0; line-height: 1.1 }
.hero p { font-size: 21px; font-weight: 200; }
.hero-banner { width: auto }
.hero-banner-image { margin: 0 auto }

// Logo
// --------------------------
.logo { background: url(/sites/all/themes/IAEA/img/bgr-logo.png) top center repeat-y; margin-bottom: 0}

// Navigation
// --------------------------
.navigation-main { background: url(/sites/all/themes/IAEA/img/bgr-navi.png) top center repeat-y; }
// .navbar-default .navbar-nav > li:first-child { margin-left: -15px }
.navbar-default .navbar-nav > li > a { color: rgba(255, 255, 255, 0.8) }
.navbar-default .navbar-nav > li > a:hover { color: rgba(255, 255, 255, 1); background-color: @gray-dark }
.navbar-collapse {padding-left: 0}
.navbar {margin-bottom: 0; border:none; background-color: transparent;}
.social-media-icons { margin-top: 4px; margin-bottom: 0 }
.social-media-icons > li > a { color: rgba(255,255,255,0.5) }
.social-media-icons > li > a:hover { color: rgba(255,255,255,1); text-decoration: none }
.search {padding: 12px 0 0 0;}
// Sidebar secondary navigation
// --------------------------
.navigation-sidebar { background-color: #ebebeb }
.navigation-sidebar > li { border-bottom: 1px solid #dbdbdb;  }
.navigation-sidebar > li + li { margin-top: 0 }
.navigation-sidebar > li.active > a { background-color: @brand-primary; border-radius: 0 }
.navigation-sidebar > li > a:hover { background-color: lighten(@gray, 55%); border-radius: 0 }
.navigation-sidebar > li.dropdown ul { left: 155px; top:-3px; .border-left-radius(0) }

// Breadcrumbs
// --------------------------
.breadcrumb { margin-bottom: 0; background-color: transparent }
.breadcrumb > li > a {color: rgba(255, 255, 255, 0.4)}
.breadcrumb > li > a:hover {color: rgba(255, 255, 255, 1); text-decoration: none}
.breadcrumb > li.active { color: rgba(255, 255, 255, 0.8) }
.breadcrumb > li + li:before { color: rgba(255, 255, 255, 0.3) }
.breadcrumbs {background: url(/sites/all/themes/IAEA/img/bgr-doormat.png) top center repeat-y }
.breadcrumbs a { }

// Doormat
// --------------------------
.doormat { background: url(/sites/all/themes/IAEA/img/bgr-doormat.png) top center repeat-y; padding-top: 25px; padding-bottom: 25px; margin-top: 50px; }
.doormat ul {font-size: 12px; }
.doormat h5 {color: rgba(255, 255, 255, 0.9) }
.doormat-list > li > a {color: rgba(255, 255, 255, 0.5) }
.doormat-list > li > a:hover {color: rgba(255, 255, 255, 1); text-decoration: none  }

// Footer
// --------------------------
.footer { background: url(/sites/all/themes/IAEA/img/bgr-footer.png) top center repeat-y; padding: 25px 0; color: rgba(255, 255, 255, 0.5); font-size: 12px; margin-top: 0; border: none; }
.footer li a, .footer p a {color: rgba(255, 255, 255, 0.5)}
.footer li a:hover, .footer p a:hover {color: rgba(255, 255, 255, 1); text-decoration: none}


.go-top {position: fixed; right: 2em; bottom: 2em; color: @gray-dark; display: none;}
.dropdown-menu > li > a:hover { color: #fff; background-color: @brand-primary}
hr.spacer-25 { border:none; clear: both; margin: 0 0 25px; }
.dropdown > a > span.glyphicon { font-size: 10px }

// Mono Social Icon Font
// --------------------------
@font-face { font-family: 'Mono Social Icons Font';
src: url('/sites/all/themes/IAEA/fonts/MonoSocialIconsFont-1.10.eot');
src: url('/sites/all/themes/IAEA/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
     url('/sites/all/themes/IAEA/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
     url('/sites/all/themes/IAEA/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
     url('/sites/all/themes/IAEA/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
src: url('/sites/all/themes/IAEA/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.symbol, a.symbol:before { font-family: 'Mono Social Icons Font'; -webkit-text-rendering: optimizeLegibility; -moz-text-rendering: optimizeLegibility; -ms-text-rendering: optimizeLegibility; -o-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; font-size: 30px;
}
a.symbol:before { content: attr(title); margin-right: 0.3em }
a.symbol { background: #9f9f9f; padding: 7px 5px 3px 5px; text-decoration: none; }
a.symbol:hover { text-decoration: none }

// Front Page
// --------------------------
#frontpage-tabs { margin-top: 20px }

// News Story
// --------------------------
.news-story-image-wrap { margin-right:30px; max-width: 360px }
.news-story-date { text-align: center; color: #fff; min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: @brand-primary; border: 1px solid darken(@well-bg, 40%) }
.news-story-date-day {font-size: 56px; font-family: @font-family-serif; font-weight: @headings-font-weight; }
.news-story-image, .basicpage-image { margin-bottom: 15px; }
.news-story-image-caption, .basicpage-image-caption { width: auto; color: @gray-light; font-size: @font-size-small }
.news-story-meta { text-align: center }

.news-story-social-media, .news-story-author { margin-top: 50px }
.news-story-social-media-icons > li > a { color: rgba(0, 0, 0, 0.2)  }
.news-story-social-media-icons > li > a > span.symbol { font-size: 58px; }
.news-story-social-media-icons > li > a:hover { color: @brand-primary; text-decoration: none }

// Basicpage
// --------------------------
.basicpage h1 { margin-top: 0; margin-bottom: 30px }
.basicpage-section { margin-bottom: 30px }
.basicpage-image-wrap { margin-right:30px; max-width: 360px }
.basicpage-related-resources { width: 262px; margin-left: 30px }
.basicpage-related-resources h4 { margin-top: 0 }

// Labels
// --------------------------
.label a { color: @gray-lighter; font-weight: normal}
.label:hover { background-color: @brand-primary; color: #fff}
.label a:hover {text-decoration: none;}



// .taxonomy-labels ul, .meta-navigation ul, .footer-nav ul, ul.social-media-icons, .doormat-menu ul { list-style: none; margin-left: 0; padding-left: 0 }
// .taxonomy-labels ul li, .meta-navigation ul li, .footer-nav ul li, ul.social-media-icons li  { float: left; padding-right: 10px }
// .doormat-menu li {font-size: 12px}
// .doormat ul li { padding-bottom: 5px }
// .footer { background-color: @brand-primary; color: #fff; margin-top: 0; padding-top: 15px }
// .footer a { color: #fff }
// .region-footer-nav { margin-top:10px; }
// .footer a:hover { color: #3366cc; background-color: #fff; text-decoration: none; }
// .doormat { padding: 25px 15px; margin-top: 45px; background-color: lighten(@brand-primary, 40%); }
// .doormat ul li a { padding: 0 }
// #edit-field-newsstory-body-value { margin-bottom: 20px; }
// .group-story-aside { width: 390px }
// .field-newsstory-author { font-style: italic; }
// .field-newsstory-photo-caption { font-size: 10px }
// .field-banner3units-image, .bean-front-page-banner-1140x345 { margin-bottom: 20px }
// .press-release-item {margin-bottom: 25px}
// .press-release-item span, .press-release-item p {margin: 0;}
// .field-jumbotron-image { float:left; margin-right: 30px; margin-bottom: 50px }
// .field-jumbotron-body { margin-bottom: 30px; font-size: 20px; }

// .bean-media-block {margin-bottom: 20px}

// .dropdown-header {text-transform: uppercase; font-size:13px;letter-spacing:2px}
// // .navbar-inverse {background-color: @brand-primary}
// .media {margin-bottom: 25px}
// .search-field {padding-top: 20px}

// .label-news_story { background-color: lighten(@brand-primary, 20%); }
// .label-dg_statement { background-color: lighten(@brand-success, 20%); }
// .label-media_advisory { background-color: lighten(@brand-warning, 20%); }
// .label-press_release { background-color: lighten(@brand-danger, 20%); }
// .label-photo_essay { background-color: lighten(@brand-info, 20%); }
// .label-iaea_video { background-color: lighten(@brand-primary, 20%); }