// Insert your styling here.

.field-banner-image-sidebar { margin-bottom: 20px }
.doormat .block h2.block-title { font-size: 18px }
aside .block h2.block-title { font-size:22px; }
.taxonomy-labels ul { list-style: none; margin-left: 0 }
.taxonomy-labels ul li { float: left; padding-right: 10px }